<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>edit page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#e0e0ff; }
	</style>
	<script src=" http://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script>
	  	$(document).ready(function(){
	  		
	  		$('#delete').on('click', function(){
	  			$confirm("정말 삭제하시겠습니까?");
	  			if(value==true){
	  				$('#edit').attr('action', '/delete');
	  			}
	  		});
	  		
	  		$('#update').on('click', function(){
	  			$('#edit').attr('action', '/update');
	  		});
	  		
	  	});
	  </script>
</head>
<body>
	<h1 th:text="${title}">edit page</h1>
	<p th:text="${msg}"></p>
	<form id="edit" method="post" action="" th:object=${list}>
	<input type="hidden" id="id" th:value="/edit/{id}" />
	<table>
	<tr><th>지역</th><td th:text="${list.area}"></td></tr>
	<tr><th>지점명</th><td th:text="${list.name}"></td></tr>
	<tr><th>주소</th><td th:text="${list.address}"></td></tr>
	<tr><th>전화번호</th><td th:text="${list.tel}"></td></tr>
	<tr><td></td><td>
	<input id="update" type="button" value="수정" onclick="location.href='update'"/>
	<input id="delete" type="button" name="delete" value="삭제"/>
	<input type="button" name="back" value="돌아가기" onclick="location.href='/'"/></td></tr>
	</table>
	</form>
</body>
</html>