<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; }
	body { font-size:13pt; color:gray; }
	.wrep{
	}
	table{width:80%; }
	th{padding: 10px; width:20%; background: #550000; border: 1px solid #550000; color:White; }
	td{padding: 10px; text-align: center;}
	
	</style>
</head>
<body>
	<input class="plus" type="button" value="추가" onclick="location.href='insert'"/><br/>
	<div class="wrep">
	<table>
	<tr><th>이름</th><th>이메일</th><th>전화번호</th><th>신청상태</th><th>상세조회</th></tr>
	<tr th:each="obj : ${datalist}">
		<td th:text="${obj.name}"></td>
	    <td th:text="${obj.mail}"></td>
	    <td th:text="${obj.tel}"></td>
	    <td th:text="${obj.check}"></td>
	    <td><a th:href="@{'/detail/' + ${obj.id}}">조회</a></td>ㅍ ㅠ
	</tr>
	</table>
	</div>
</body>
</html>