<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>insert page</title>
	<meta http-equiv="Content-Type"
	        content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#e0e0ff; }
	table.navi {width:100%; background:white; }
	table.navi tr { background:white; }
	table.navi tr td { background:white; }
	.err { color:red; }
	</style>
</head>
<body>
	<h1 th:text="${title}">update page</h1>
	<p th:text="${msg}"></p>
	<form action="/update/{id}" method="post">
	<table>
	  <tr><td><label for="area">지역</label></td>
	        <td><input type="text" name="area" /></td></tr>
	  <tr><td><label for="name">지점명</label></td>
	        <td><input type="text" name="name" /></td></tr>
	  <tr><td><label for="address">주소</label></td>
	        <td><input type="text" name="address" /></td></tr>
	  <tr><td><label for="tel">전화번호</label></td>
	        <td><input type="text" name="tel" /></td></tr>          
	  <tr><td></td><td><input type="button" name="back" value="취소" onclick="location.href='/edit/{id}'"/><input type="submit" value="수정"/></td></tr>
	</table>
	</form>
</body>
</html>